.side-bar.light > .button-group-1 > div:hover {
    border-right: var(--light-secodnary-font) 2px solid;
    border-bottom: var(--light-secodnary-font) 2px solid;
    border-top: var(--light-secodnary-font) 2px solid;;
    border-radius: 0 10px 10px 0;
    background-color: var(--light-secondary-bg);
    z-index: 1;
    position: relative;
    right: -1px;
}

.side-bar.dark > .button-group-1 > div:hover {
    border-right: var(--dark-secondary-font) 2px solid;
    border-bottom: var(--dark-secondary-font) 2px solid;
    border-top: var(--dark-secondary-font) 2px solid;;
    border-radius: 0 10px 10px 0;
    background-color: var(--dark-secondary-bg);
    z-index: 1;
    position: relative;
    right: -1px;
}

.theme:hover {
    animation: boing 0.4s ease-in-out normal;
}

.feed-element {
    transition: transform 0.35s linear;
}

.feed-element:hover {
    transform: translateY(-7px);
}

.exit {
    transition: transform 0.5s linear;
    transition: background-color 1s linear;
}

.exit:hover {
    transform: translateY(-2px);
    background-color: rgb(185, 74, 46);
}

@keyframes boing {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-3px);
    }

    75% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}