:root {
    --dark-primary-bg: #2b3746;
    --dark-secondary-bg: #474861;
    --dark-third-bg: rgb(18, 54, 88);
    --dark-fourth-bg: rgb(59, 71, 90);
    --dark-primary-font: #97a01e;
    --dark-secondary-font: #db9b71;
    --dark-initial-font: rgb(68, 116, 170);

    --light-primary-bg: #dad8c8;
    --light-secondary-bg: #ebac71;
    --light-third-bg: rgb(223, 174, 128);
    --light-fourth-bg: rgb(215, 223, 147);
    --light-primary-font: #751707;
    --light-secodnary-font: #272e47;
    --light-initial-font: rgb(226, 238, 116);

    scroll-behavior: smooth;
}

* {
    transition: background-color 0.5s linear, border-left 0.5s linear,  color 0.3s linear;
  
}

.logo {
    height: 70px;
    border-radius: 20px;
}

.logo-container.light {
    color: var(--light-secodnary-font);
    position: relative;
    font-size: 20px;
    right: 10px;
}

.logo-container.dark {
    color: var(--dark-secodnary-font);
    position: relative;
    font-size: 20px;
    right: 10px
}

.icon {
    width: 20px;
    margin-right: 10px;   
}

.button-group-1 > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: none;
}

.button-group-2 > div > p {
    display: inline-block;
    position: relative;
    top: -7px;
    margin: 0;
}

body {
    display: grid;
    grid-template: 1fr / 130px repeat(4, 1fr);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
    height: 100vh;
    display: grid;
    grid-template: repeat(7, 1fr) / 130px;
}

.side-bar.light {
    background-color: var(--light-primary-bg);
    color: var(--light-primary-font);
}

.side-bar.dark {
    background-color: var(--dark-primary-bg);
    color: var(--dark-primary-font)
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 3 0%;
    width: 150px;
    gap: 5px;
    padding: 5px;
    margin: 0 auto;
}

.button-group-1 {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 7;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
}

.button-group-2 {
    width: 100%;
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20% 0  0;
}

.button-group-2.light {
    border-top: var(--light-secodnary-font) solid 3px;
    background-color: var(--light-third-bg);
}

.button-group-2.dark {
    border-top: var(--dark-secondary-font) solid 3px;
    background-color: var(--dark-third-bg);
}

.feed {
    height: 100vh;
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template: 50px repeat(7, 1fr) / repeat(19, 1fr) 50px;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed::-webkit-scrollbar {
    display: none;
}

.top-bar {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 21;
    display: grid;
    grid-template: 100% / repeat(10, 1fr);
}

.search-container {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
}

.search-bar.light {
    background: var(--light-primary-bg);
    color: var(--light-secodnary-font);
    border-radius: 5px;
    border-bottom: var(--light-third-bg) 2px solid;
    height: 20px;
}

.search-bar.dark {
    background: var(--dark-primary-bg);
    color: var(--dark-secodnary-font);
    border-radius: 5px;
    border-bottom: var(--dark-third-bg) 2px solid;
    height: 20px;
}

.theme {
    grid-column-start: 7;
    grid-column-end: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.theme-icon {
    width: 30px;
}

.top-bar.light {
    background-color: var(--light-primary-bg);
    color: var(--light-primary-font);
    border-bottom: var(--light-primary-font) 2px solid;
}

.top-bar.dark {
    background-color: var(--dark-primary-bg);
    color: var(--dark-primary-font);
    border-bottom: var(--dark-primary-font) 2px solid;
}

.news {
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 20;
    grid-column-end: 21;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    grid-template-areas: 
        "news-title"
        "news-content"
        "news-content"
        "news-content"
        "news-content";
}

.news-title {
    grid-area: news-title;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.news-title.light {
color: var(--light-secodnary-font);
}

.news-title.dark {
    color: var(--light-secodnary-font);
    }

.news-content {
    grid-area: news-content;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex-wrap: nowrap;
    gap: 10px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.news-content.light {
    border-top: var(--light-secodnary-font) 3px solid;
    padding-top: 10px;
}

.news-content::-webkit-scrollbar {
    display: none;
}

.news-elements {
    border-radius: 30px;
}

.news-elements.light {
    border: var(--light-primary-font) 2px solid;
    background-color: var(--light-third-bg);
}

.news-elements.dark {
    border: var(--dark-primary-font) 2px solid;
    background-color: var(--dark-third-bg);
}

.news-content > .news-elements > h1 {
    font-size: 25px;
    text-align: left;
    margin: 10px 3px;
}

.news-content > .news-elements > p {
    text-align: left;
    margin-left: 5px;
}

.news-content > .news-elements.light > p::first-letter {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--light-initial-font);
    float: left;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.news-content > .news-elements.dark > p::first-letter {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-initial-font);
    float: left;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.news-content > .news-elements.light > h1 {
    color: var(--light-secodnary-font);
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.news-content > .news-elements.dark > h1 {
    color: var(--dark-secondary-font);
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

.news.light {
    background-color: var(--light-secondary-bg);
    border-left: var(--light-primary-font) 2px solid;
}

.news.dark {
    background-color: var(--dark-secondary-bg);
    color: var(--dark-primary-font);
    border-left: var(--dark-primary-font) 2px solid;
}

.feed-element {
    height: 100%;
    width: clamp(200px, 1fr, 400px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    overflow: scroll;
    padding: 20px; 

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed-element.light {
    background-color: var(--light-primary-bg);
    border-bottom: var(--light-third-bg) 4px solid;
    border-left: var(--light-third-bg) 7px solid;
    color: var(--light-primary-font);
}

.feed-element.dark {
    background-color: var(--dark-primary-bg);
    border-bottom: var(--dark-third-bg) 4px solid;
    border-left: var(--dark-third-bg) 7px solid;
    color: var(--dark-primary-font);
}


.feed-element.b {
    overflow: hidden;
    background-image: url(./images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg);
    background-size: cover;
}

.feed-element.e {
    overflow: hidden;
    background-image: url(./images/mohammad-rahmani-N5bT5RctFZ8-unsplash.jpg);
    background-size: cover;
}

.title.light {
    font-size: 25px;
    background-color: var(--light-secondary-bg);
    color: var(--light-secodnary-font);
    display: inline;
    border-radius: 5px;
}

.title.dark {
    font-size: 25px;
    background-color: var(--dark-secondary-bg);
    color: var(--dark-secodnary-font);
    display: inline-block;
    border-radius: 5px;
}

.feed-body {
    overflow: scroll;
    height: calc(100vh - 50px);
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 20;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;

    padding: 40px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message {
    position: absolute;
    top: 3.5%;
    left: calc(75% - clamp(350px, 40%, 450px));
    z-index: 1;
    width: clamp(350px, 50%, 450px);
    height: 95vh;
    font-size: 30px;
    text-align: center;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message::-webkit-scrollbar {
    display: none;
}

.message.light {
    background-color: var(--light-primary-bg);
    color: var(--light-secodnary-font);
    border: var(--light-fourth-bg) 3px solid;
    border-radius: 20px;
}

.message.dark {
    background-color: var(--dark-primary-bg);
    color: var(--dark-primary-font);
    border: var(--light-fourth-bg) 3px solid;
    border-radius: 20px;
}

.message > div {
    position: relative;
    width: 40%;
    margin: 0 auto;
    top: 20vh;
    border: rgb(223, 115, 28) solid;
}

.feed-body.light {
    background-color: var(--light-fourth-bg);
}

.feed-body.dark {
    background-color: var(--dark-fourth-bg);
}

.mobileNewsOpen {
    display: flex;
    grid-column-start: 5;
    grid-column-end: 7;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.news-icon {
    width: 60px;
}

.feed-body::-webkit-scrollbar {
    display: none;
}

.feed-element::-webkit-scrollbar {
    display: none;
}